default-font = 12px
default-textshadow = 0 1px 2px rgba(0,0,0,.4)
default-color-hilight = #f5822b
default-color-active = #af4d37
default-color-creme = #c5beb3
nav-font-size = 16px
nav-font-color = white
nav-font-hover = default-color-hilight


heading-color-A = default-color-creme
heading-color-B = nav-font-hover
heading-A = 700 60px font-helve
heading-x-height-A = 50px
heading-B = 700 114px 'HelveNeueCond', font-helve
heading-x-height-B = 104px

heading-hl-spade = 600 21px 'HelveNeueCond', font-helve
heading-x-height-hl-spade = 21px
headline-textshadow =  0 4px 10px rgba(0,0,0,.4)

headline-content-title = normal 120px JennaSue, font-helve
headline-content-tagline = 600 21px 'HelveNeueCond', font-helve
headline-content-description = 500 21px 'HelveNeueCond', font-helve
font-helve = 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif


default-boxshadow = 0 4px 8px rgba(0,0,0,.4)
far-shadow = 0 8px 20px rgba(0,0,0,.8)

transition(a)
	transition: a all ease
	-webkit-transition: a all ease
	-moz-transition: a all ease
	-o-transition: a all ease

rotatation(a)
	transform: rotate(a)
	-ms-transform: rotate(a)
	-webkit-transform: rotate(a)

@keyframes blink {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}