- var website = { name: 'Siam@Siam Design Hotel', color: '#f5822b' }
doctype html
html
	head
		meta(charset='utf-8')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title Party House One — Dining in Bangkok | #{website.name}
		meta(name='description', content='Party House One represents a whole new concept for hotel restaurant and bar; it&rsquo;s modern, fun, and full of energy. A destination in itself with its refreshing, contemporary design, one feels upbeat from the moment of entering Party House One. With friendly staff, an extensive range of international dishes prepared by professional chefs, great entertainment including energetic, live bands, the theme &lsquo;Every Minute is a Party&rsquo; rings true at Party House One. Located on G Floor, Daily open: 06.00 hrs. to midnight')/
		meta(name='viewport', content='width=960, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')/

		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(href='touch-icon-iphone.png', rel='apple-touch-icon')
		link(href='touch-icon-ipad.png', rel='apple-touch-icon',size='76x76')
		link(href='touch-icon-iphone-retina.png', rel='apple-touch-icon',size='120x120')
		link(href='touch-icon-ipad-retina.png', rel='apple-touch-icon',size='152x152')
		// build:css styles/vendor.css
		link(href='styles/bootstrap.min.css', rel='stylesheet', type='text/css', media='screen', id='bootstrap')
		link(href='typeface/typeface.css', rel='stylesheet', type='text/css', media='all', id='typeface')
		link(href='styles/default.css', rel='stylesheet', type='text/css', media='screen', id='default')
		//- link(href='styles/skrollr.css', rel='stylesheet', type='text/css', media='screen', id='skrollr', data-skrollr-stylesheet)
		// bower:css
		// endbower
		// endbuild
		// build:css(.tmp) styles/main.css
		// endbuild
		script(src='scripts/modernizr.js')
	body
		#location 0
		#header
			.viewport
				#branding(data-0='top: 0px;', data-200='top: -40px')
					h1#logo
						a(href='')
							img(src='./images/logo@2x.png', alt=website.name)

				nav(role='navigation')
					ul.primary.list-inline
						li.accommodation(page='accommodation')
							a(href='') Accommodation
						li.dining.current_page(page='dining')
							a(href='') Dining
						li.spa(page='spa')
							a(href='') Spa
						li.facilities(page='facilities')
							a(href='') Facilities
						li.special-offers(page='special-offers')
							a(href='') Special Offers &amp; News
						li.contact-us(page='contact-us')
							a(href='') Contact Us
					ul.primary-bg.list-inline
						li.accommodation
							img(src='images/nav-bg-active.png')
						li.dining
							img(src='images/nav-bg-active.png')
						li.spa
							img(src='images/nav-bg-active.png')
						li.facilities
							img(src='images/nav-bg-active.png')
						li.special-offers
							img(src='images/nav-bg-active.png')
						li.contact-us
							img(src='images/nav-bg-active.png')

					ul.secondary.list-inline
						li
							a(href='') Downloads
						li
							a(href='') Gallery

		#container
			#heading
				#bg-header(data-0='top: -5px;', data-500='top: -800px;')
				.wrapper
					.viewport
						h1.title(data-0='top: 270px; left: 160px', data-800='top: -200px;') Bar
							span.hl Eleven
						.hl-spade(data-0='top: 300px; right: -20px', data-800='top: -800px;')
							span.nl chat amongst good
							span.nl friends in a stylish
							span.nl environment

			#concept
				#bg-concept(data-0='top: 190px;', data-480='top: -350px', data-1100='top: -970px', data-1800='top: -970px', data-1900='top: -1300px')
				.wrapper
					.viewport
						img.navigation-bg(src='images/concept-nav-bg.png', alt='Bar Eleven', data-0='top: 1000px; left: 340px', data-800='top: 388px', data-1100='top: -20px', data-1800='top: -20px; opacity: 1;', data-1900='opacity: 0', data-2200='top: -700px')
						img.concept-frame(src='images/img-concept-frame.png', alt='Bar Eleven', data-0='top: 1000px; left: 70px', data-800='top: 160px', data-1100='top: -250px', data-1800='top: -250px', data-2200='top: -700px')
						img.concept-lamp(src='images/img-concept-lamp.png', alt='Bar Eleven', data-0='top: 1100px; left: 220px', data-800='top: -10px', data-1100='top: -340px', data-1800='top: -340px', data-2200='top: -1200px')
						img.concept-bar-eleven.boxshadow(src='images/img-concept-bar-eleven.png', alt='Bar Eleven', data-0='top: 1300px; left: 400px', data-800='top: 380px', data-1100='top: 0px', data-1800='top: 0px', data-2200='top: -200px')

						.overlay(data-1000='top: 190px; opacity: 0;', data-1100='top: 180px; opacity: 1;', data-1200='top: 180px; opacity: 1;', data-1300='top: 170px; opacity: 0;')
							h2.content-title Relax
							p.content-tagline(style='top: 135px; left: 10px; width: 200px;') Bar Eleven
							p.content-description(style='top: 175px; left: 10px; width:470px') Bar Eleven is the place for a more relaxed drink. For those in a reflective mood, or a relaxed chat among good friends in a stylish and comfortable environment, BarEleven is the place to visit. It represents another element in making Siam@Siam Design Hotel &amp; Spa such a unique environment, and a hotel that offers something for everyone.

						.overlay(data-1300='top: 190px; opacity: 0;', data-1400='top: 180px; opacity: 1;', data-1500='top: 180px; opacity: 1;', data-1600='top: 170px; opacity: 0;')
							h2.content-title Signature
							//- p.content-tagline(style='top: 135px; left: 10px; width: 200px;') Bar Eleven
							p.content-description(style='top: 175px; left: 10px; width:470px') Bar Eleven is the place for a more relaxed drink. For those in a reflective mood, or a relaxed chat among good friends in a stylish and comfortable environment, BarEleven is the place to visit. It represents another element in making Siam@Siam Design Hotel &amp; Spa such a unique environment, and a hotel that offers something for everyone.

						.overlay(data-1600='top: 190px; opacity: 0;', data-1700='top: 180px; opacity: 1;', data-1800='top: 180px; opacity: 1;', data-2000='top: -400px; opacity: 0')
							h2.content-title Hours
							p.content-tagline(style='top: 135px; left: 10px; width: 200px;') Bar Eleven
							p.content-description(style='top: 175px; left: 10px; width:470px') Bar Eleven is the place for a more relaxed drink. For those in a reflective mood, or a relaxed chat among good friends in a stylish and comfortable environment, BarEleven is the place to visit. It represents another element in making Siam@Siam Design Hotel &amp; Spa such a unique environment, and a hotel that offers something for everyone.

						.navigation(data-1000='opacity: 0; top: 40%; left: 62%;', data-1100='opacity: 1;', data-1800='opacity: 1', data-1900='opacity: 0; top: 25%;')
							ul.list-unstyled
								li.relax
									a(href='#') Relax
								li.signature-cocktail
									a(href='#') Signature Cocktail
								li.hours
									a(href='#') Hours
			#signature
				#bg-signature(data-1000='top: 700px;', data-1800='top: 700px;', data-2000='top: -420px;', data-2200='top: -420px;', data-2300='top: -1200px')
				.wrapper
					.viewport
						.overlay.signature(data-1950='top: 80px; opacity: 0;', data-2000='top: 70px; opacity: 1;', data-2100='top: 70px; opacity: 1;', data-2200='top: 60px; opacity: 0;')
							h2.content-title Cocktail
							//- p.content-tagline(style='top: 135px; left: 10px; width: 200px;') Bar Eleven
							p.content-tagline(style='top: 135px; left: 10px; width: 200px;') Bar Eleven
							h3.content-title(style='top: 430px; left: 10px', data-1970='opacity: 0', data-1990='opacity: 1') Emerald
							p.content-description(style='top: 490px; left: 10px; width:470px', data-1970='opacity: 0', data-1990='opacity: 1') refreshing cocktail with cucumber and mint leaf
							img.content-img(src='images/signature-dish-img-1.png', data-1990='opacity: 0; top: 200px', data-2020='opacity: 1; top: 180px')

							img.glimpse(src='images/pth1-glimpse-leaf-1.png', data-1950='top: 800px; left: 800px;', data-2200='top: 450px')
							img.glimpse(src='images/pth1-glimpse-leaf-2.png', data-1950='top: 800px; left: -140px;', data-2000='top: 200px')
							img.glimpse(src='images/pth1-glimpse-leaf-3.png', data-1950='top: 800px; left: 550px;', data-2100='top: -20px')
							img.glimpse(src='images/pth1-glimpse-leaf-4.png', data-1950='top: 700px; left: -50px;', data-2150='top: 400px')
							img.glimpse(src='images/pth1-glimpse-leaf-5.png', data-1950='top: 800px; left: 250px;', data-2050='top: -50px')
							img.glimpse(src='images/pth1-glimpse-leaf-6.png', data-1950='top: 800px; left: 800px;', data-2000='top: -200px')

			#footer
				#bg-footer(data-1000='top: 800px; opacity: 0', data-2150='top: 800px; opacity: 1', data-2250='top: -50px;')
					img.fillwidth(src='images/footer-img.jpg', style='top: 100px; position: absolute')
					.copyright(data-2249='opacity: 0', data-2250='opacity: 1') All rights reserved. &copy; Copyright 2014
						//- img(src='images/interior-img-1.jpg', style='top: 0; left: 0;')
						//- img(src='images/interior-img-2.jpg')
						//- img(src='images/interior-img-3.jpg')
						//- img(src='images/interior-img-4.jpg')
						//- img(src='images/interior-img-5.jpg')
						//- img(src='images/interior-img-6.jpg')
						//- img(src='images/interior-img-7.jpg')


		.loading
			.icon

		// build:js scripts/vendor.js
		// bower:js
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(src='scripts/skrollr.js')
		script(src='scripts/default.js')
		script(src='scripts/main.js')

		// endbower
		// endbuild
		// build:js({app,.tmp}) scripts/main.js
		// endbuild