@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-lightcond-webfont.eot');
    src: url('helveticaneuelt-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-lightcond-webfont.woff') format('woff'),
         url('helveticaneuelt-lightcond-webfont.ttf') format('truetype'),
         url('helveticaneuelt-lightcond-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-condensed-webfont.eot');
    src: url('helveticaneuelt-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-condensed-webfont.woff') format('woff'),
         url('helveticaneuelt-condensed-webfont.ttf') format('truetype'),
         url('helveticaneuelt-condensed-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-boldcond-webfont.eot');
    src: url('helveticaneuelt-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-boldcond-webfont.woff') format('woff'),
         url('helveticaneuelt-boldcond-webfont.ttf') format('truetype'),
         url('helveticaneuelt-boldcond-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-boldcondobl-webfont.eot');
    src: url('helveticaneuelt-boldcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-boldcondobl-webfont.woff') format('woff'),
         url('helveticaneuelt-boldcondobl-webfont.ttf') format('truetype'),
         url('helveticaneuelt-boldcondobl-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-condensedobl-webfont.eot');
    src: url('helveticaneuelt-condensedobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-condensedobl-webfont.woff') format('woff'),
         url('helveticaneuelt-condensedobl-webfont.ttf') format('truetype'),
         url('helveticaneuelt-condensedobl-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-lightcondobl-webfont.eot');
    src: url('helveticaneuelt-lightcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-lightcondobl-webfont.woff') format('woff'),
         url('helveticaneuelt-lightcondobl-webfont.ttf') format('truetype'),
         url('helveticaneuelt-lightcondobl-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-mediumcond-webfont.eot');
    src: url('helveticaneuelt-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-mediumcond-webfont.woff') format('woff'),
         url('helveticaneuelt-mediumcond-webfont.ttf') format('truetype'),
         url('helveticaneuelt-mediumcond-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'HelveNeueCond';
    src: url('helveticaneuelt-mediumcondobl-webfont.eot');
    src: url('helveticaneuelt-mediumcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuelt-mediumcondobl-webfont.woff') format('woff'),
         url('helveticaneuelt-mediumcondobl-webfont.ttf') format('truetype'),
         url('helveticaneuelt-mediumcondobl-webfont.svg#helvetica_neue_ltregular') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'JennaSue';
    src: url('jennasue-webfont.eot');
    src: url('jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('jennasue-webfont.woff') format('woff'),
         url('jennasue-webfont.ttf') format('truetype'),
         url('jennasue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}